body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post{
    width: 70%;
    border: 1px solid rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.header{
    width: 70%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgb(108, 216, 46);
    color: white;
    padding: 10px;
}